@model Task3.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="panel">
            <div class="form-group">
                <label>@Html.LabelFor(m => m.Name)</label>
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div class="form-group">
                <label>@Html.LabelFor(m => m.Email)</label>
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-default" value="Save"/>
}

<div>
    @Html.ActionLink("Back To List", "Index", "Users")
</div>
