@model Task1.Models.Order

@{
    ViewBag.Title = "AddOrder";
}

<h2>AddOrder</h2>
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">Create</div>
        <div class="panel-body">
            <div class="form-group">
            </div>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Adress)
            @Html.EditorFor(m => m.Adress)
            @Html.ValidationMessageFor(m => m.Adress)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.EditorFor(m => m.Date)
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TermsAccepted)
            @Html.EditorFor(m => m.TermsAccepted)
            @Html.ValidationMessageFor(m => m.TermsAccepted)
        </div>
    </div>
    
    <div>@Html.ValidationSummary()</div>
}

