@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Site</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqvalidate")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("My Magazine", "OrdersList", "Orders", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Orders", "OrdersList", "Orders")</li>
                <li>@Html.ActionLink("Products", "ProductsList", "Products")</li>
                <li>@Html.ActionLink("Customer", "CustomersList", "Customers")</li>
                <li>@Html.ActionLink("SalesForPerod Report", "SalesForPeriodReportShow", "SalesForPeriod")</li>
                <li>@Html.ActionLink("SalesForCustomer Report", "SalesForCustomerReportShow", "SalesForCustomer")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderSection("Body")
        <hr />
        <footer>
            @RenderSection("Footer", false)
        </footer>
    </div>
</body>
</html>