@model Task3.Models.Product

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>
<h3>Are you sure want to delete this?</h3>
<div class="row">
    <div class="panel">
        <div class="form-group">
            <label>@Html.LabelFor(m => m.Name)</label>
            <label>@Html.DisplayFor(m => m.Name)</label>
        </div>
        <div class="form-group">
            <label>@Html.LabelFor(m => m.Price)</label>
            <label>@Html.DisplayFor(m => m.Price)</label>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Delete"/>
    @Html.ActionLink("Return To Products List","Index")
}

