@model IEnumerable<Test3Task.Models.Customer>

@{
    ViewBag.Title = "Customers List";
}
@section Body
{
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CustomerId = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { CustomerId = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { CustomerId = item.CustomerId })
            </td>
        </tr>
    }

</table>
    
}