@model Test3Task.Models.Customer

@{
    ViewBag.Title = "Details";
}

@section Body
{
<h2>@ViewBag.Title</h2>
    <table class="table table-striped">
        <tr class="table-bordered">
            <th>@Html.LabelFor(m=>m.Name)</th>
            <th>@Html.LabelFor(m=>m.Email)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m=>m.Name)</td>
            <td>@Html.DisplayFor(m=>m.Email)</td>
        </tr>
    </table>
}

@section Footer
{
    @Html.ActionLink("Back To Customers List","CustomersList")
}
