@model Test3Task.Models.LoginModel

@{
    ViewBag.Title = "Login";
}




@section Body{
<h1>@ViewBag.Title.</h1>

    @using (Html.BeginForm(new {ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div><input type="submit" class="btn btn-default" value="Войти" /></div>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p> 
        </div>
        
    }
}


