@model IEnumerable<Task3.Models.Order>
@foreach (var order in Model)
{
    <table>
        <tr>
            <th>@Html.LabelFor(m => order.Id)</th>
            <th>@Html.LabelFor(m => order.Customer)</th>
            <th>@Html.LabelFor(m => order.Product)</th>
            <th>@Html.LabelFor(m => order.Quantity)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => order.Id)</td>
            <td>@Html.DisplayFor(m => order.Customer)</td>
            <td>@Html.DisplayFor(m => order.Product)</td>
            <td>@Html.DisplayFor(m => order.Quantity)</td>
        </tr>
    </table>
}


