@model Task2.Models.RegistrationModel    
@{
    ViewBag.Title = "Регистрация";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("CreateUser", "Register", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label class="control-label col-sm-2">Логин:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Пароль:</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m=>m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Подтверждение пароля:</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m=>m.PasswordConfirm, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Емаил:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m=>m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-success span12" type="submit" value="ОК" />
            </div>
        </div>
    }
</div>
